.notebook-toolbar {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: var(--white);
    border-bottom: 1px solid var(--cell-border);
    gap: 16px;
    flex-shrink: 0;
}


.notebook-toolbar__buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
}

.notebook-toolbar__btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.15s, color 0.15s;
}

.notebook-toolbar__btn--run:hover {
    background: var(--teal-green-dark);
    color: var(--white);
}

.notebook-toolbar__btn--add:hover{
    background: var(--teal-green-10)
}

.notebook-toolbar__btn--add {
    background: transparent;
    color: var(--teal-green);
    border: 1.5px dashed var(--teal-green);
}

.notebook-toolbar__btn--run {
    background: var(--teal-green);
    color: var(--white);
    border: 1.5px solid var(--teal-green);
}

.notebook-toolbar__toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 13px;
    color: var(--teal-green);
    border: 1.5px solid var(--teal-green);
    background: transparent;
    cursor: pointer;
    transition: background 0.15s, color 0.15s, opacity 0.15s;
    user-select: none;
    white-space: nowrap;
}

.notebook-toolbar__toggle:hover {
    background: var(--teal-green-10);
}

.notebook-toolbar__toggle-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.notebook-toolbar__toggle-label {
    white-space: nowrap;
}

.notebook-toolbar__toggle:has(.notebook-toolbar__toggle-input:checked) {
    background: var(--teal-green);
    color: var(--white);
}

@media (max-width: 768px) {
    .notebook-toolbar__toggle-label {
        display: none;
    }

    .notebook-toolbar__toggle-icon {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("/images/comment-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .notebook-toolbar__toggle {
        padding: 4px;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
    }

    .notebook-toolbar__btn-text {
        display: none;
    }

    .notebook-toolbar__btn--run {
        padding: 6px;
        width: 36px;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .notebook-toolbar {
        padding: 8px 12px;
    }
}
