.sign-page__main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.sign-page__container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.sign-page__title {
    text-align: center;
    color: var(--dark-primary, #191726);
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

/* Адаптивность */
@media (max-width: 768px) {
    .sign-page__main {
        min-height: calc(100vh - 50px);
    }

    .sign-page__title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}