@import 'styles/variables.css';
@import 'styles/button.css';
@import '../shared/components/input/Input.css';
@import '../widgets/register-form/Register.css';
@import '../widgets/login-form/Login.css';
@import '../widgets/green-header/GreenHeader.css';
@import '../pages/sign/RegisterPage.css';
@import '../pages/files/FilesPage.css';
@import '../widgets/filter-bar/FilterBar.css';
@import '../widgets/files-table/FilesTable.css';
@import '../shared/components/pagination/Pagination.css';
@import '../shared/components/kebab-menu/KebabMenu.css';
@import '../shared/components/code-cell/CodeCell.css';
@import '../shared/components/text-cell/TextCell.css';
@import '../pages/blocks/BlocksPage.css';
@import '../widgets/notebook-header/NotebookHeader.css';
@import '../widgets/share-modal/ShareModal.css';
@import '../widgets/notebook-toolbar/NotebookToolbar.css';
@import '../widgets/notebook-sidebar/NotebookSidebar.css';
@import '../widgets/cell-list/CellList.css';
@import '../pages/profile/ProfilePage.css';
@import '../widgets/profile-section/ProfileSection.css';
@import '../widgets/password-section/PasswordSection.css';
@import '../widgets/subscription-section/SubscriptionSection.css';
@import '../widgets/editor-settings/EditorSettings.css';
@import '../pages/landing/LandingPage.css';
@import '../pages/admin/AdminPage.css';
@import '../shared/components/context-menu/ContextMenu.css';
@import '../shared/components/modal/Modal.css';
@import '../widgets/feedback-modal/FeedbackModal.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}