.form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field {
    width: 100%;              /* Занимает всю ширину */
    position: relative;       /* Для абсолютного позиционирования ошибок */
}


.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Расстояние между всеми элементами */
    width: 100%;
}

.form-title {
    text-align: center;
    width: 100%;
    margin: 0 auto 5px;
}